header {
  border-bottom: 2px solid #f55617;
}

.main-title {
  font-size: 70px;
  font-weight: 900;
  text-align: right;
  // width: 80%;
  margin: 0;
  padding: 10px;
}


@media (max-width: 1200px) {
  .main-title {
    width: 768px;
  }
}

@media (max-width: 800px) {
  .main-title {
    font-size: 35px;
    width: 100%;
  }
}
