header {
  // height: 100px;
  border-bottom: 2px solid #f55617;
}

.main-title {
  font-size: 70px;
  font-weight: 900;
  text-align: right;
  width: 1280px;
  margin: 0;
  padding: 10px;
  // background: red;
}
