.work {
  width: 100%;
  padding-top: 50px;
  border-bottom: 2px solid #f55617;
}

.work__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.work__item {
  display: block;
  width: 330px;
  height: 320px;
  border-radius: 5px;
  border: 1px solid #ffffff;
  margin-bottom: 50px;
  box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.5);

  &:hover,
  &:focus {
    box-shadow: 0 15px 45px 2px rgba(0, 0, 0, 0.8);
    outline: none;
    transform: scale(1.02);
    transition: 0.05s;
  }

  &:active {
    box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.5);
    outline: none;
  }

  &--nerds {
    background: url("../img/nerds.jpg");
    background-size: cover;
  }

  &--cosyhouse {
    background: url("../img/cosyhouse.jpg");
    background-size: cover;
  }

  &--device {
    background: url("../img/device.jpg");
    background-size: cover;
  }

  &--gllacy {
    background: url("../img/gllacy.jpg");
    background-size: cover;
  }

  &--mishka {
    background: url("../img/mishka.jpg");
    background-size: cover;
  }

  &--kekstagram {
    background: url("../img/kekstagram.jpg");
    background-size: cover;
  }

  &--panteon {
    background: url("../img/panteon.jpg");
    background-size: cover;
  }
}

.work__link {
  display: block;
  // background: red;
  width: 100%;
  height: 100%;
}

.work__title {
  margin: 0;
  display: none;
}

@media (max-width: 1200px) {
  .work__list {
    justify-content: space-around;
  }
}

@media (max-width: 800px) {
  .work__list {
    flex-direction: сolumn;
  }

  .work__item {
    border-radius: 0;
    width: 100%;
    margin-bottom: 15px;
    // border-bottom: 15px solid #000000;

    &:hover,
    &:focus {
      transform: none;
    }
  }
}
